@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background: #03121b;
  color: white;
}

h1 {
  font-size: 36px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.gg-arrow-long-right {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 34px;
  height: 6px;
}
.gg-arrow-long-right::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px;
}
/* .hero-section { */
/*   min-height: calc(100vh - 50px); */
/* } */
.bg-hero-house {
  background-image: url("/hero_house.jpg"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  height: h;
  color: white; /* Assuming you want white text color */
}

@media (min-width: 1024px) {
  .bg-hero-house {
    background-image: none; /* Remove background image on large screens */
  }
}

.bg-about-portrait {
  background-image: url("/about_portrait.jpg"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  height: 40vh;
  color: white; /* Assuming you want white text color */
}

@media (min-width: 1024px) {
  .bg-about-portrait {
    background-image: none; /* Remove background image on large screens */
  }
}

.loader {
  border: solid #f3f3f3; /* Light grey */
  border-top: solid #48cbc5; /* Teal */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.big-loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #48cbc5; /* Teal */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
