@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background: #03121b;
  color: white;
}

h1 {
  font-size: 36px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.bg-hero-house {
  background-image: url("/hero_house.jpg"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  height: 82vh;
  color: white; /* Assuming you want white text color */
}

@media (min-width: 1024px) {
  .bg-hero-house {
    background-image: none; /* Remove background image on large screens */
  }
}

.bg-about-portrait {
  background-image: url("/about_portrait.jpg"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  height: 40vh;
  color: white; /* Assuming you want white text color */
}

@media (min-width: 1024px) {
  .bg-about-portrait {
    background-image: none; /* Remove background image on large screens */
  }
}
